@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  max-width: 1200px;
  display: grid;
  margin-inline: auto;
}

.contact_nav {
  display: flex;
  justify-content: space-between;
  background-color: #163651;
  color: white;
  padding-inline: 40px;
  flex-wrap: wrap;
  padding-block: 10px;
}

.number {
  display: flex;
  gap: 20px;
}

.social {
  display: flex;
  gap: 20px;
}


@media(width <=900px) {
  .contact_nav {
    justify-content: space-evenly;
  }

  .number {
    font-size: small;
  }

  .social {
    text-align: center;
    font-size: larger;
  }
}


.nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;
  margin-block: 20px;
  flex-wrap: wrap;
}

#nav-links-expand {
  display: none;
  text-align: end;
}


#close {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: #1A1A1A;
  margin-block: auto;
}

.nav-links-expand a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.btn {
  border: none;
  outline: none;
  background-color: #ccc;
  padding: 8px;
  border-radius: 20%;
}

@media(width <=900px) {
  .nav-links {
    display: none;
  }

  .nav-links-expand {
    text-decoration: none;
  }

  .expandLink {
    text-decoration: none;
    color: #1A1A1A;
  }

  .btn {
    display: flex;
    margin-left: auto;
  }
}

@media(width > 900px) {
  .hamburger {
    display: none;
  }
}

.banner {
  min-height: 656px;
  background-image: url(./assets/bg.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: auto;
  color: white;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-items: center;
  padding-inline: 40px;
}



.heading {
  display: grid;
  gap: 20px;
  width: 50%;
}

.heading h1{
  font-weight: 700;
  font-size: 40px;
}


.getStarted {
  background-color: #40A5A2;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 25%;
  color: white;
}


.signin {
  width: 30%;
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  color: #18274b;
}


.form-heading {
  text-align: center;
  padding-bottom: 30px;
  font-size: 25px;
}


.inputBox {
  width: 100%;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  height: 40px;
  margin-top: 10px;
}

#chk {
  transform: translateY(-9px);
}


.checkbox-1 {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.checkbox-1 a{
  color: #00A5DF ;
}


.apply {
  background-color: #02274C;
  color: white;
  padding: 8px;
  border-radius: 16px;
  border: none;
  outline: none;
}


.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-evenly;
}

.svg {
  padding: 10px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  background-color: #40A5A2;
}

.services {
  gap: 20px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.service {
  display: flex;
  width: 368px;
  flex-direction: column;
  gap: 20px;
}

@media(width <=900px) {
  .banner {
    display: block;
  }

  .form-wrap {
    display: flex;
  }

  .heading {
    padding-block: 30px;
    width: 100%;
  }

  .signin {
    margin-inline: auto;
    width: 80%;
  }

  .banner {
    padding-bottom: 50px;
  }

}